{% extends 'base.html' %}
{% block title %}4ft x 6ft{% endblock %}

{% block content %}
<h1 class="text-center text-primary">4ft x 6ft carpets</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <img src="https://media.istockphoto.com/id/1442955062/photo/traditional-moroccan-rug.jpg?s=612x612&w=0&k=20&c=y0Vel01vgSt2z5gN7hxR1AX1fWcS95AB1eC7Gw2iSXA=" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Classic Standard wall to wall carpet</h5>
          <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
          <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <img src="https://media.istockphoto.com/id/1206197060/photo/turkish-and-persian-carpet-shop-in-izmir-region.jpg?s=612x612&w=0&k=20&c=DHRYOYgsXBQ4MnEEd6VbH02gSGccS6YeYO2x1DmtNgE=" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Classic Standard wall to wall carpet</h5>
          <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
          <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <img src="https://media.istockphoto.com/id/995201182/photo/two-silk-rugs-on-display.jpg?s=612x612&w=0&k=20&c=VosJs4P6b3N9PmqgcxgDJ41ix0cEreGB5oxHMy1qt0E=" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Classic Standard wall to wall carpet</h5>
          <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
          <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <img src="https://media.istockphoto.com/id/2024747216/photo/a-cream-colored-prayer-mat.jpg?s=612x612&w=0&k=20&c=LH7ZHvz2WQ_iQcegJBkA4CUxTZAJAN13ckUbq-YIeRw=" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Classic Standard wall to wall carpet</h5>
          <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
          <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <img src="https://media.istockphoto.com/id/1157459854/photo/carpet.jpg?s=612x612&w=0&k=20&c=lzUdQ73IHryK_ztBWh7CF9mNjkQ2BJKMvAiYu2bM4rk=" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Classic Standard wall to wall carpet</h5>
          <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
          <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <img src="https://media.istockphoto.com/id/607269706/photo/azerbaijan-carpet.jpg?s=612x612&w=0&k=20&c=3UYZacQXez7CAgjyqfxa1ujQWDbcHSDfiHqkdT5KUfA=" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Classic Standard wall to wall carpet</h5>
          <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
          <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
