{% extends 'base.html' %}
{% block title %}  5ft x 8ft  {% endblock %}
{% block content %}    

    <h1 class="text-center text-primary">5ft x 8ft carpets</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card" style="width: 18rem;">
                <img src="https://media.istockphoto.com/id/1938414266/photo/a-sample-of-five-handmade-wool-and-silk-carpets-typical-turkish-handmade-kilim-carpets-and.jpg?s=612x612&w=0&k=20&c=gitJyvqtawRwQfCNeCsb7ErF-PuoTUYOmkwL4I5LpHA=">
                <div class="card-body">
                <h5 class="card-title">Classic Standard wall to wall carpet</h5> <h5 class="ms-lg-4 text-success"><span class="text-dark">Ksh</span>3000</h5>
                <p class="card-text"> an extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain. </p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            </div>



            <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="https://media.istockphoto.com/id/1395181135/photo/carpet-heavy-thikness-quality-carpet-for-living-room-and-drawing-room.jpg?s=612x612&w=0&k=20&c=bLh2Mu1NJMKMOIW4Z0gCxTtN43nPBVqwCQ8XBEYMVbA=">
                <div class="card-body">
                <h5 class="card-title">Classic Standard wall to wall carpet</h5> <h5 class="ms-lg-4 text-success"><span class="text-dark">Ksh</span>3000</h5>
                <p class="card-text"> an extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain. </p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card" style="width: 18rem;">
                <img src="https://media.istockphoto.com/id/465956631/photo/two-sofas.jpg?s=612x612&w=0&k=20&c=eIlGc-miui8cFCgv4o-y4lkEJ-ilYtclfpAIJk-K2lY=">
                <div class="card-body">
                <h5 class="card-title" >Classic Standard wall to wall carpet</h5> <h5 class="ms-lg-4 text-success"><span class="text-dark">Ksh</span>3000</h5>
                <p class="card-text"> an extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain. </p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            </div>
            <div class="col-sm-6">  
            <div class="card" style="width: 18rem;">
                <img src="https://media.istockphoto.com/id/146725361/photo/oriental-silk-wall-hanging.jpg?s=612x612&w=0&k=20&c=EHNZ5-JWwmQcO3N59G20eoisT0n4I74Bfh8YIgHrEtY=">
                <div class="card-body">
                <h5 class="card-title">Classic Standard wall to wall carpet</h5> <h5 class="ms-lg-4 text-success"><span class="text-dark">Ksh</span>3000</h5>
                <p class="card-text"> an extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain. </p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            </div>
        </div>
   

        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card" style="width: 18rem;">
                <img src="https://media.istockphoto.com/id/1318257655/photo/carpet-patterned-background-factory-carpets-delicate-pattern-persian-carpet-texture-abstract.jpg?s=612x612&w=0&k=20&c=LNyp1uBSLZcqZU_i3mZOqr_NGIBfmq6XRrAF8Zk1SHg=">       
                <div class="card-body">
                <h5 class="card-title" >Classic Standard wall to wall carpet</h5> <h5 class="ms-lg-4 text-success"><span class="text-dark">Ksh</span>3000</h5>
                <p class="card-text"> an extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain. </p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            </div>
            <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="https://media.istockphoto.com/id/607269706/photo/azerbaijan-carpet.jpg?s=612x612&w=0&k=20&c=3UYZacQXez7CAgjyqfxa1ujQWDbcHSDfiHqkdT5KUfA=">
                <div class="card-body">
                <h5 class="card-title">Classic Standard wall to wall carpet</h5> <h5 class="ms-lg-4 text-success"><span class="text-dark">Ksh</span>3000</h5>
                <p class="card-text"> an extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain. </p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            </div>
        </div>
            {% endblock %}