
{% extends 'base.html' %}
 {% block title %}6ft x 9ft{% endblock %}
            
{% block content %}

<h1 class="text-center text-primary">6ft x 9ft carpets</h1>

<div class="container">
    <!-- Row 1 -->
    <div class="row mb-4">
    <div class="col-md-4">
        <div class="card h-100">
        <img src="https://media.istockphoto.com/id/465956631/photo/two-sofas.jpg?s=612x612&w=0&k=20&c=eIlGc-miui8cFCgv4o-y4lkEJ-ilYtclfpAIJk-K2lY=" class="card-img-top" alt="Carpet 1">
        <div class="card-body">
            <h5 class="card-title">Classic Standard wall to wall carpet</h5>
            <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
            <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
            <a href="#" class="btn btn-primary">Add to Basket</a>
        </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card h-100">
        <img src="https://media.istockphoto.com/id/1181380466/photo/multicolored-persian-carpets-or-rugs-or-floor-mats-at-display-in-shop.jpg?s=612x612&w=0&k=20&c=znSVuquX5x_Q2a4wQKwOecw3WB_xu4fasvB4MKUciuc=" class="card-img-top" alt="Carpet 2">
        <div class="card-body">
            <h5 class="card-title">Classic Standard wall to wall carpet</h5>
            <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
            <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
            <a href="#" class="btn btn-primary">Add to Basket</a>
        </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card h-100">
        <img src="https://media.istockphoto.com/id/1143048569/photo/woven-carpet-in-turkey.jpg?s=612x612&w=0&k=20&c=pM5jqFxlacFLLBhrVcDJvM5BCEGB4EDLLDVJlqkWseM=" class="card-img-top" alt="Carpet 3">
        <div class="card-body">
            <h5 class="card-title">Classic Standard wall to wall carpet</h5>
            <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
            <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
            <a href="#" class="btn btn-primary">Add to Basket</a>
        </div>
        </div>
    </div>
    </div>

    <!-- Row 2 -->
    <div class="row mb-4">
    <div class="col-md-4">
        <div class="card h-100">
        <img src="https://media.istockphoto.com/id/1318257148/photo/carpet-patterned-background-factory-carpets-delicate-pattern-persian-carpet-texture-abstract.jpg?s=612x612&w=0&k=20&c=g1-r8BWYmMBAX-igHDV04wAe816-ujGmhG6DvgVOs1o=" class="card-img-top" alt="Carpet 4">
        <div class="card-body">
            <h5 class="card-title">Classic Standard wall to wall carpet</h5>
            <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
            <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
            <a href="#" class="btn btn-primary">Add to Basket</a>
        </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card h-100">
        <img src="https://media.istockphoto.com/id/1143048568/photo/woven-carpet-in-turkey.jpg?s=612x612&w=0&k=20&c=Yw6Ebadx-rgY0SadFMfLNPaoFJIR0rI3Xt98kR_0nOY=" class="card-img-top" alt="Carpet 5">
        <div class="card-body">
            <h5 class="card-title">Classic Standard wall to wall carpet</h5>
            <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
            <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
            <a href="#" class="btn btn-primary">Add to Basket</a>
        </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card h-100">
        <img src="https://media.istockphoto.com/id/1612999543/photo/intricate-designs-of-turkish-rugs-on-display-on-the-streets-of-istanbul.jpg?s=612x612&w=0&k=20&c=0ah61O2pPIGJSZzqQiedNhB-qa0QUnqITPBrSrGl2xQ=" class="card-img-top" alt="Carpet 6">
        <div class="card-body">
            <h5 class="card-title">Classic Standard wall to wall carpet</h5>
            <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
            <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
            <a href="#" class="btn btn-primary">Add to Basket</a>
        </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
            