{% extends 'base.html' %}
{% block title %}  7ft x 10ft  {% endblock %}
{% block content %}    

    <h1 class="text-center text-primary">7ft x 10ft carpets</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card" style="width: 18rem;">
                <img src="https://media.istockphoto.com/id/1452883009/photo/old-house-in-kuwait.jpg?s=612x612&w=0&k=20&c=Vbfoe-ipMcktnp0GRliMaXUvzjyzi6r8XCg1op5d-3w=">
                <div class="card-body">
                <h5 class="card-title">Classic Standard wall to wall carpet</h5> <h5 class="ms-lg-4 text-success"><span class="text-dark">Ksh</span>3000</h5>
                <p class="card-text"> an extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain. </p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            </div>



            <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="https://media.istockphoto.com/id/2196152435/photo/indian-rugs.jpg?s=612x612&w=0&k=20&c=bDcz95WyFy6Asa5uMGsR3MiMQl8OQbXGkvYSnGz23BI=">
                <div class="card-body">
                <h5 class="card-title">Classic Standard wall to wall carpet</h5> <h5 class="ms-lg-4 text-success"><span class="text-dark">Ksh</span>3000</h5>
                <p class="card-text"> an extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain. </p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card" style="width: 18rem;">
                <img src="https://media.istockphoto.com/id/1172935416/photo/multicolored-persian-carpets-or-rugs-or-floor-mats-at-display-ina-shop.jpg?s=612x612&w=0&k=20&c=fPprdwIKbkIArnKrUSbFayWJC_8NqafvFCRCQCYdock=">
                <div class="card-body">
                <h5 class="card-title" >Classic Standard wall to wall carpet</h5> <h5 class="ms-lg-4 text-success"><span class="text-dark">Ksh</span>3000</h5>
                <p class="card-text"> an extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain. </p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            </div>
            <div class="col-sm-6">  
            <div class="card" style="width: 18rem;">
                <img src="https://media.istockphoto.com/id/493249041/photo/carpet.jpg?s=612x612&w=0&k=20&c=XKsDd2l_V53pnEZfraYe7WSpnAug2IIm6r8UJb6Cdno=">
                <div class="card-body">
                <h5 class="card-title">Classic Standard wall to wall carpet</h5> <h5 class="ms-lg-4 text-success"><span class="text-dark">Ksh</span>3000</h5>
                <p class="card-text"> an extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain. </p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            </div>
        </div>
   

        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card" style="width: 18rem;">
                <img src="https://media.istockphoto.com/id/1140283390/photo/rug-shop-doormat-carpet-retail-display.jpg?s=612x612&w=0&k=20&c=UJ2qYlouL-l_uYdxMYVtRUAUZN_j7NoZhe0kHLPvX4M=">       
                <div class="card-body">
                <h5 class="card-title" >Classic Standard wall to wall carpet</h5> <h5 class="ms-lg-4 text-success"><span class="text-dark">Ksh</span>3000</h5>
                <p class="card-text"> an extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain. </p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            </div>
            <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="https://media.istockphoto.com/id/1315457929/photo/multicolored-fabrics-lie-on-a-shelf-in-a-store.jpg?s=612x612&w=0&k=20&c=66x79r1JgUCySqecHd2bLzkkiCQGs0N8huC_ZULJWmE=">
                <div class="card-body">
                <h5 class="card-title">Classic Standard wall to wall carpet</h5> <h5 class="ms-lg-4 text-success"><span class="text-dark">Ksh</span>3000</h5>
                <p class="card-text"> an extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain. </p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            </div>
        </div>
            {% endblock %}