{% extends 'base.html' %}
{% block title %}  Black Carpets  {% endblock %}
{% block content %}

 

<div class="container">

  <h1 class="text-center">Black Carpets</h1>
  <!-- Row 1 -->
  <div class="row mb-4">
  <div class="col-md-4">
      <div class="card h-100">
      <img src="https://media.istockphoto.com/id/1041368624/photo/carpet-isolated-on-white-background.jpg?s=612x612&w=0&k=20&c=ZMSUBxHfRjIktaNGLJjV8Qc_JJeN-j0Xj65mKTJl7ZE=" class="card-img-top" alt="Carpet 1">
      <div class="card-body">
          <h5 class="card-title">Classic Standard wall to wall carpet</h5>
          <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
          <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
      </div>
  </div>

  <div class="col-md-4">
      <div class="card h-100">
      <img src="https://media.istockphoto.com/id/1174960599/photo/black-classic-interior-with-armchair-moldings-fireplace-candle-floor-lamp-carpet-and-table-3d.jpg?s=612x612&w=0&k=20&c=R38ez-Frygsi4cTaAkaTJJyZmEP1xnbJeF6i3raNDUY=" class="card-img-top" alt="Carpet 2">
      <div class="card-body">
          <h5 class="card-title">Classic Standard wall to wall carpet</h5>
          <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
          <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
      </div>
  </div>

  <div class="col-md-4">
      <div class="card h-100">
      <img src="https://media.istockphoto.com/id/1353370305/photo/black-classic-interior-with-sofa-table-carpet-decor-and-moldings-wall-panel-3d-render.jpg?s=612x612&w=0&k=20&c=0mI3WATC5H5vYwjhvae3FKBVzRBUvVOn1KwNjwu2fiU=" class="card-img-top" alt="Carpet 3">
      <div class="card-body">
          <h5 class="card-title">Classic Standard wall to wall carpet</h5>
          <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
          <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
      </div>
  </div>
  </div>

  <!-- Row 2 -->
  <div class="row mb-4">
  <div class="col-md-4">
      <div class="card h-100">
      <img src="https://media.istockphoto.com/id/1212500239/photo/minimal-style-black-living-room-with-vinatage-sofa-3d-render.jpg?s=612x612&w=0&k=20&c=mO9RsusRJsyLFiiosl7x4zis5H21O23FQP64eICqmcc=" class="card-img-top" alt="Carpet 4">
      <div class="card-body">
          <h5 class="card-title">Classic Standard wall to wall carpet</h5>
          <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
          <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
      </div>
  </div>

  <div class="col-md-4">
      <div class="card h-100">
      <img src="https://media.istockphoto.com/id/2166492402/photo/elegant-black-and-white-art-deco-office-room-interior-design.jpg?s=612x612&w=0&k=20&c=FgPvnm4RNCrqts1UpN8kGzsJqaiiaUL-0VlvshUwngI=" class="card-img-top" alt="Carpet 5">
      <div class="card-body">
          <h5 class="card-title">Classic Standard wall to wall carpet</h5>
          <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
          <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
      </div>
  </div>

  <div class="col-md-4">
      <div class="card h-100">
      <img src="https://media.istockphoto.com/id/2170431474/photo/modern-cozy-living-room-with-glass-staircase.jpg?s=612x612&w=0&k=20&c=UBtOXzxEXLmG6s43Cf6lG4dIlWxnEU7loBSr8GWGZ6Q=" class="card-img-top" alt="Carpet 6">
      <div class="card-body">
          <h5 class="card-title">Classic Standard wall to wall carpet</h5>
          <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
          <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
      </div>
  </div>
  </div>
</div>
{% endblock %}