{% extends 'base.html' %}
{% block title %}  Black Carpets  {% endblock %}
{% block content %}

<h1>Black Carpets</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card" style="width: 18rem;">
            <img src="https://media.istockphoto.com/id/1212500239/photo/minimal-style-black-living-room-with-vinatage-sofa-3d-render.jpg?s=612x612&w=0&k=20&c=mO9RsusRJsyLFiiosl7x4zis5H21O23FQP64eICqmcc=">
            <div class="card-body">
              <h5 class="card-title">Grey Standard wall to wall carpet</h5> <h5 class="ms-lg-4 text-success"><span class="text-dark">Ksh</span>3000</h5>
              <p class="card-text"> an extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain. </p>
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card" style="width: 18rem;">
            <img src="https://media.istockphoto.com/id/1353370305/photo/black-classic-interior-with-sofa-table-carpet-decor-and-moldings-wall-panel-3d-render.jpg?s=612x612&w=0&k=20&c=0mI3WATC5H5vYwjhvae3FKBVzRBUvVOn1KwNjwu2fiU=">
            <div class="card-body">
              <h5 class="card-title">Grey Standard wall to wall carpet</h5> <h5 class="ms-lg-4 text-success"><span class="text-dark">Ksh</span>3000</h5>
          <p class="card-text"> an extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain. </p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card" style="width: 18rem;">
            <img src="https://media.istockphoto.com/id/1174960599/photo/black-classic-interior-with-armchair-moldings-fireplace-candle-floor-lamp-carpet-and-table-3d.jpg?s=612x612&w=0&k=20&c=R38ez-Frygsi4cTaAkaTJJyZmEP1xnbJeF6i3raNDUY=">
            <div class="card-body">
              <h5 class="card-title" >Grey Standard wall to wall carpet</h5> <h5 class="ms-lg-4 text-success"><span class="text-dark">Ksh</span>3000</h5>
          <p class="card-text"> an extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain. </p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card" style="width: 18rem;">
            <img src="https://media.istockphoto.com/id/1041368624/photo/carpet-isolated-on-white-background.jpg?s=612x612&w=0&k=20&c=ZMSUBxHfRjIktaNGLJjV8Qc_JJeN-j0Xj65mKTJl7ZE=">
            <div class="card-body">
              <h5 class="card-title">Grey Standard wall to wall carpet</h5> <h5 class="ms-lg-4 text-success"><span class="text-dark">Ksh</span>3000</h5>
          <p class="card-text"> an extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain. </p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
</div>




{% endblock %}