{% extends 'base.html' %}
{% block title %}  Grey Carpets  {% endblock %}
{% block content %}


 <h1 class="text-center text-secondary">Grey Carpets</h1>


<div class="container">
  <!-- Row 1 -->
  <div class="row mb-4">
  <div class="col-md-4">
      <div class="card h-100">
      <img src="https://media.istockphoto.com/id/1386240878/photo/carpet-and-white-wall-of-bright-living-room-in-modern-house-or-apartment.jpg?s=612x612&w=0&k=20&c=IBzioG-ByMdQJ5mQa3Q7fg5SM8ValTzcUvjsyM7rXf0=" class="card-img-top" alt="Carpet 1">
      <div class="card-body">
          <h5 class="card-title">Classic Standard wall to wall carpet</h5>
          <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
          <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
          <a href="#" class="btn btn-secondary">Add to Basket</a>
      </div>
      </div>
  </div>

  <div class="col-md-4">
      <div class="card h-100">
      <img src="https://media.istockphoto.com/id/2208473108/photo/stylish-living-room-interior-with-wooden-staircase-design.jpg?s=612x612&w=0&k=20&c=MbDKI33Q9v76jhdQ1PXl6yibqw0MhdQ0TuESY94vo7w=" class="card-img-top" alt="Carpet 2">
      <div class="card-body">
          <h5 class="card-title">Classic Standard wall to wall carpet</h5>
          <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
          <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
          <a href="#" class="btn btn-secondary">Add to Basket</a>
      </div>
      </div>
  </div>

  <div class="col-md-4">
      <div class="card h-100">
      <img src="https://media.istockphoto.com/id/1472249537/photo/side-view-of-an-elegant-living-room-with-a-beige-sofa-and-decoration-and-windows-with.jpg?s=612x612&w=0&k=20&c=glKZNUp4zfVWfBpgtJ337TPjxVk8RlO1mzv3CkIzL6I=" class="card-img-top" alt="Carpet 3">
      <div class="card-body">
          <h5 class="card-title">Classic Standard wall to wall carpet</h5>
          <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
          <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
          <a href="#" class="btn btn-secondary">Add to Basket</a>
      </div>
      </div>
  </div>
  </div>

  <!-- Row 2 -->
  <div class="row mb-4">
  <div class="col-md-4">
      <div class="card h-100">
      <img src="https://media.istockphoto.com/id/1184204517/photo/modern-scandinavian-living-room-interior-3d-render.jpg?s=612x612&w=0&k=20&c=t-YDtX8DWp_ZL8FMWErVBH1D7Dc8yYe7jL-iIPKpX7g=" class="card-img-top" alt="Carpet 4">
      <div class="card-body">
          <h5 class="card-title">Classic Standard wall to wall carpet</h5>
          <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
          <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
          <a href="#" class="btn btn-secondary">Add to Basket</a>
      </div>
      </div>
  </div>

  <div class="col-md-4">
      <div class="card h-100">
      <img src="https://media.istockphoto.com/id/2201665070/photo/modern-and-elegant-bedroom-interior-design-with-cozy-neutral-accents.jpg?s=612x612&w=0&k=20&c=k-YZe2Rxbx7R6ICFz5fLIDTW5eTtzNbTsPh4QGZUfiA=" class="card-img-top" alt="Carpet 5">
      <div class="card-body">
          <h5 class="card-title">Classic Standard wall to wall carpet</h5>
          <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
          <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
          <a href="#" class="btn btn-secondary">Add to Basket</a>
      </div>
      </div>
  </div>

  <div class="col-md-4">
      <div class="card h-100">
      <img src="https://media.istockphoto.com/id/1273713171/photo/overhead-view-of-a-modern-room.jpg?s=612x612&w=0&k=20&c=4OpixXUhtIpSNze8ET_QPHSYPilSjXZQ7g-b87IXimI=" class="card-img-top" alt="Carpet 6">
      <div class="card-body">
          <h5 class="card-title">Classic Standard wall to wall carpet</h5>
          <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
          <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
          <a href="#" class="btn btn-secondary">Add to Basket</a>
      </div>
      </div>
  </div>
  </div>
</div>
{% endblock %}
          