{% extends 'base.html' %}
{% block title %}  Blue Carpets  {% endblock %}
{% block content %}


 <h1 class="text-center text-primary">Grey Carpets</h1>


<div class="container">
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card" style="width: 18rem;">
            <img src="https://media.istockphoto.com/id/1386240878/photo/carpet-and-white-wall-of-bright-living-room-in-modern-house-or-apartment.jpg?s=612x612&w=0&k=20&c=IBzioG-ByMdQJ5mQa3Q7fg5SM8ValTzcUvjsyM7rXf0=">
            <div class="card-body">
              <h5 class="card-title">Blue Standard wall to wall carpet</h5> <h5 class="ms-lg-4 text-success"><span class="text-dark">Ksh</span>3000</h5>
              <p class="card-text"> an extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain. </p>
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card" style="width: 18rem;">
            <img src="https://media.istockphoto.com/id/2208473108/photo/stylish-living-room-interior-with-wooden-staircase-design.jpg?s=612x612&w=0&k=20&c=MbDKI33Q9v76jhdQ1PXl6yibqw0MhdQ0TuESY94vo7w=">
            <div class="card-body">
              <h5 class="card-title">Blue Standard wall to wall carpet</h5> <h5 class="ms-lg-4 text-success"><span class="text-dark">Ksh</span>3000</h5>
          <p class="card-text"> an extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain. </p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card" style="width: 18rem;">
            <img src="https://media.istockphoto.com/id/1472249537/photo/side-view-of-an-elegant-living-room-with-a-beige-sofa-and-decoration-and-windows-with.jpg?s=612x612&w=0&k=20&c=glKZNUp4zfVWfBpgtJ337TPjxVk8RlO1mzv3CkIzL6I=">
            <div class="card-body">
              <h5 class="card-title" >Blue Standard wall to wall carpet</h5> <h5 class="ms-lg-4 text-success"><span class="text-dark">Ksh</span>3000</h5>
          <p class="card-text"> an extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain. </p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card" style="width: 18rem;">
            <img src="https://media.istockphoto.com/id/1184204517/photo/modern-scandinavian-living-room-interior-3d-render.jpg?s=612x612&w=0&k=20&c=t-YDtX8DWp_ZL8FMWErVBH1D7Dc8yYe7jL-iIPKpX7g=">
            <div class="card-body">
              <h5 class="card-title">Blue Standard wall to wall carpet</h5> <h5 class="ms-lg-4 text-success"><span class="text-dark">Ksh</span>3000</h5>
          <p class="card-text"> an extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain. </p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
</div>  



{% endblock %}