
            {% extends 'base.html' %}
            {% block title %}  Modern Carpets  {% endblock %}
                        
            {% block content %}
            
            <h1 class="text-center text-primary">Modern Carpets</h1>
            
            <div class="container">
                <!-- Row 1 -->
                <div class="row mb-4">
                <div class="col-md-4">
                    <div class="card h-100">
                    <img src="https://media.istockphoto.com/id/1317895025/vector/set-of-carpets-or-rugs-of-different-shapes-colors.jpg?s=612x612&w=0&k=20&c=JxLAxDCGRsRC5-TmQzypn-smw6R1mrr8JnYdvaAbPtE=" class="card-img-top" alt="Carpet 1">
                    <div class="card-body">
                        <h5 class="card-title">Modern Standard wall to wall carpet</h5>
                        <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
                        <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
                        <a href="#" class="btn btn-primary">Add to Basket</a>
                    </div>
                    </div>
                </div>
            
                <div class="col-md-4">
                    <div class="card h-100">
                    <img src="https://media.istockphoto.com/id/1217234861/photo/well-furnished-living-room-render.jpg?s=612x612&w=0&k=20&c=d4BEj1aGfJkviAMdjZ2OdGMrZ7Zufjf5smQvOAE7tpU=" class="card-img-top" alt="Carpet 2">
                    <div class="card-body">
                        <h5 class="card-title">Modern Standard wall to wall carpet</h5>
                        <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
                        <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
                        <a href="#" class="btn btn-primary">Add to Basket</a>
                    </div>
                    </div>
                </div>
            
                <div class="col-md-4">
                    <div class="card h-100">
                    <img src="https://media.istockphoto.com/id/1339459805/photo/large-office-interior-a-lounge-corner-with-a-potted-plant-copy-space-and-wordesks-behind.jpg?s=612x612&w=0&k=20&c=AZTMzVP1BWyjctxOwm5G80Y3g0IIvJvtCudtcigIZwk=" class="card-img-top" alt="Carpet 3">
                    <div class="card-body">
                        <h5 class="card-title">Modern Standard wall to wall carpet</h5>
                        <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
                        <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
                        <a href="#" class="btn btn-primary">Add to Basket</a>
                    </div>
                    </div>
                </div>
                </div>
            
                <!-- Row 2 -->
                <div class="row mb-4">
                <div class="col-md-4">
                    <div class="card h-100">
                    <img src="https://media.istockphoto.com/id/1002732272/photo/posters-on-grey-wall-above-white-cupboard-in-bright-living-room-interior-with-sofa-and-carpet.jpg?s=612x612&w=0&k=20&c=mr53KuM2lDDXMPGNdTZcnc4z5Oo-8NyxWvI87jlbGK4=" class="card-img-top" alt="Carpet 4">
                    <div class="card-body">
                        <h5 class="card-title">Modern Standard wall to wall carpet</h5>
                        <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
                        <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
                        <a href="#" class="btn btn-primary">Add to Basket</a>
                    </div>
                    </div>
                </div>
            
                <div class="col-md-4">
                    <div class="card h-100">
                    <img src="https://media.istockphoto.com/id/1256011031/photo/3d-rendering-business-meeting-and-working-room-on-office-building.jpg?s=612x612&w=0&k=20&c=g0XPWxHEP6R1s-0gG38pt6icU8aZVFk5rcjvW5_L92s=" class="card-img-top" alt="Carpet 5">
                    <div class="card-body">
                        <h5 class="card-title">Modern Standard wall to wall carpet</h5>
                        <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
                        <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
                        <a href="#" class="btn btn-primary">Add to Basket</a>
                    </div>
                    </div>
                </div>
            
                <div class="col-md-4">
                    <div class="card h-100">
                    <img src="https://media.istockphoto.com/id/1089808216/photo/modern-living-room-with-dining-room.jpg?s=612x612&w=0&k=20&c=C5himv8ey6FYpIWdN9Aumb6I5iujeAhuF3E_mEW8Iho=" class="card-img-top" alt="Carpet 6">
                    <div class="card-body">
                        <h5 class="card-title">Modern Standard wall to wall carpet</h5>
                        <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
                        <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
                        <a href="#" class="btn btn-primary">Add to Basket</a>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            {% endblock %}
                        