{% extends 'base.html' %}
{% block title %}  Modern Carpets  {% endblock %}
{% block content %}    

    <h1 class="text-center text-primary">Classic Carpets</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card" style="width: 18rem;">
                <img src="https://media.istockphoto.com/id/1333060261/photo/modern-living-room-interior-design.jpg?s=612x612&w=0&k=20&c=4P4Ke-N4n8wk4xOpwCVw5HGwFVFi5GEOavQSaepbKOE=">
                <div class="card-body">
                <h5 class="card-title">Classic Standard wall to wall carpet</h5> <h5 class="ms-lg-4 text-success"><span class="text-dark">Ksh</span>3000</h5>
                <p class="card-text"> an extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain. </p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            </div>



            <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="https://media.istockphoto.com/id/1217234861/photo/well-furnished-living-room-render.jpg?s=612x612&w=0&k=20&c=d4BEj1aGfJkviAMdjZ2OdGMrZ7Zufjf5smQvOAE7tpU=">
                <div class="card-body">
                <h5 class="card-title">Classic Standard wall to wall carpet</h5> <h5 class="ms-lg-4 text-success"><span class="text-dark">Ksh</span>3000</h5>
                <p class="card-text"> an extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain. </p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card" style="width: 18rem;">
                <img src="https://media.istockphoto.com/id/1339459805/photo/large-office-interior-a-lounge-corner-with-a-potted-plant-copy-space-and-wordesks-behind.jpg?s=612x612&w=0&k=20&c=AZTMzVP1BWyjctxOwm5G80Y3g0IIvJvtCudtcigIZwk=">
                <div class="card-body">
                <h5 class="card-title" >Classic Standard wall to wall carpet</h5> <h5 class="ms-lg-4 text-success"><span class="text-dark">Ksh</span>3000</h5>
                <p class="card-text"> an extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain. </p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            </div>
            <div class="col-sm-6">  
            <div class="card" style="width: 18rem;">
                <img src="https://media.istockphoto.com/id/1002732272/photo/posters-on-grey-wall-above-white-cupboard-in-bright-living-room-interior-with-sofa-and-carpet.jpg?s=612x612&w=0&k=20&c=mr53KuM2lDDXMPGNdTZcnc4z5Oo-8NyxWvI87jlbGK4=">
                <div class="card-body">
                <h5 class="card-title">Classic Standard wall to wall carpet</h5> <h5 class="ms-lg-4 text-success"><span class="text-dark">Ksh</span>3000</h5>
                <p class="card-text"> an extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain. </p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card" style="width: 18rem;">
                <img src="https://media.istockphoto.com/id/2077180760/photo/modern-room-interior-with-bookshelf-leather-sofa-coffee-table-and-houseplant.jpg?s=612x612&w=0&k=20&c=LXkWoMFDS5XWbZfgRBEpBLEOGADpOpMjkrr0_hBwYKU=>
                <div class="card-body">
                <h5 class="card-title" >Classic Standard wall to wall carpet</h5> <h5 class="ms-lg-4 text-success"><span class="text-dark">Ksh</span>3000</h5>
                <p class="card-text"> an extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain. </p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            </div>
            <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="hthttps://media.istockphoto.com/id/1019953634/photo/spacious-grey-workspace-interior.jpg?s=612x612&w=0&k=20&c=myFIz2WN6u5jujCgcfaFsaUQOJqjNKgVPTFXr0qPdAU=">
                <div class="card-body">
                <h5 class="card-title">Classic Standard wall to wall carpet</h5> <h5 class="ms-lg-4 text-success"><span class="text-dark">Ksh</span>3000</h5>
                <p class="card-text"> an extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain. </p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            </div>
        </div>
            {% endblock %}