{% extends 'base.html' %}
{% block title %}  Red Carpets  {% endblock %}
{% block content %}


<div class="container">
  <h1 class="text-center text-danger">Red Carpets</h1>
  <!-- Row 1 -->
  <div class="row mb-4">
  <div class="col-md-4">
      <div class="card h-100">
      <img src="https://media.istockphoto.com/id/2155842637/vector/theater-hall-with-empty-scene-curtains-rows-of-seats-red-cinema-chairs-movie-theatre.jpg?s=612x612&w=0&k=20&c=-j3sc-pFk7O5Zkr3HN1RnPcSKZayO3mH0RPn3eH7BKU=" class="card-img-top" alt="Carpet 1">
      <div class="card-body">
          <h5 class="card-title">Classic Standard wall to wall carpet</h5>
          <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
          <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
          <a href="#" class="btn btn-danger">Add to Basket</a>
      </div>
      </div>
  </div>

  <div class="col-md-4">
      <div class="card h-100">
      <img src="https://media.istockphoto.com/id/559536803/photo/celebrity-arriving-and-posing-for-paparazzi-photographers-at-red-carpet-event.jpg?s=612x612&w=0&k=20&c=eURMLHegWSIFxaCOcYHGnEEOqsAmr_e2pjhfqZDepEI=" class="card-img-top" alt="Carpet 2">
      <div class="card-body">
          <h5 class="card-title">Classic Standard wall to wall carpet</h5>
          <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
          <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
          <a href="#" class="btn btn-danger">Add to Basket</a>
      </div>
      </div>
  </div>

  <div class="col-md-4">
      <div class="card h-100">
      <img src="https://media.istockphoto.com/id/1449554835/photo/red-carpet-event-at-night.jpg?s=612x612&w=0&k=20&c=EEcDevpFZ-_dPzRAwCq0q_hKBkj4MQV6c4uOO06ZTqc=" class="card-img-top" alt="Carpet 3">
      <div class="card-body">
          <h5 class="card-title">Classic Standard wall to wall carpet</h5>
          <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
          <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
          <a href="#" class="btn btn-danger">Add to Basket</a>
      </div>
      </div>
  </div>
  </div>

  <!-- Row 2 -->
  <div class="row mb-4">
  <div class="col-md-4">
      <div class="card h-100">
      <img src="https://media.istockphoto.com/id/2173912018/photo/exiting-the-limousine-elegant-high-heel-shoes-and-mens-shoes-make-an-appearance-on-the-red.jpg?s=612x612&w=0&k=20&c=gO27hoR9U5nXSCEwDjJYKPKWGedVGaVthFdPiOddnP8=" class="card-img-top" alt="Carpet 4">
      <div class="card-body">
          <h5 class="card-title">Classic Standard wall to wall carpet</h5>
          <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
          <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
          <a href="#" class="btn btn-danger">Add to Basket</a>
      </div>
      </div>
  </div>

  <div class="col-md-4">
      <div class="card h-100">
      <img src="https://media.istockphoto.com/id/2139050719/vector/red-premium-and-luxury-template-design-award-background-birthday-celebration-invitation.jpg?s=612x612&w=0&k=20&c=vT5_LB7ia3E-sCeEeFmeNQ_qpCqGXJEtytk8uW7BYoE=" class="card-img-top" alt="Carpet 5">
      <div class="card-body">
          <h5 class="card-title">Classic Standard wall to wall carpet</h5>
          <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
          <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
          <a href="#" class="btn btn-danger">Add to Basket</a>
      </div>
      </div>
  </div>

  <div class="col-md-4">
      <div class="card h-100">
      <img src="https://media.istockphoto.com/id/188051857/photo/paparazzi-using-flash-photography-along-red-carpet.jpg?s=612x612&w=0&k=20&c=7YjQ30XM5BGLYrhYYvoceraEaYhjXnz_1G6Y4gCGF9Q=" class="card-img-top" alt="Carpet 6">
      <div class="card-body">
          <h5 class="card-title">Classic Standard wall to wall carpet</h5>
          <h5 class="text-success"><span class="text-dark">Ksh</span>3000</h5>
          <p class="card-text">An extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain.</p>
          <a href="#" class="btn btn-danger">Add to Basket</a>
      </div>
      </div>
  </div>
  </div>
</div>
{% endblock %}
          