{% extends 'base.html' %}
{% block content %}

<div id="heroCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
    <div class="carousel-inner">
      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="row align-items-center">
          <div class="col-md-6">
            <img src="https://media.istockphoto.com/id/1861392605/photo/colorful-carpet-samples-in-the-store.jpg?s=612x612&w=0&k=20&c=xFCxVc33M3KXnim5r_r8j110nDPk4R65N2fE4N_orOc=" class="d-block w-100" alt="Carpet Samples">
          </div>
          <div class="col-md-6">
            <div class="p-4">
              <h2>Stylish Carpet Designs</h2>
              <p>Explore our wide range of stylish carpet samples that fit every interior.</p>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="row align-items-center">
          <div class="col-md-6">
            <img src="https://media.istockphoto.com/id/1461376022/photo/handyman-cutting-a-new-carpet-with-a-carpet-cutter.jpg?s=612x612&w=0&k=20&c=_PF5RqVa8L3D2gwd4yOO7DdiS-XQAsUuN6zyB09XAfw=" class="d-block w-100" alt="Carpet Installation">
          </div>
          <div class="col-md-6">
            <div class="p-4">
              <h2>Professional Installation</h2>
              <p>Precision carpet fitting by our trained experts ensures a flawless finish.</p>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="row align-items-center">
          <div class="col-md-6">
            <img src="https://media.istockphoto.com/id/1417833187/photo/professional-cleaner-vacuuming-a-carpet.jpg?s=612x612&w=0&k=20&c=5h8NBR190d46Ni4MclqJ7Zf9ZOtf3TM3gPRJaHUdMjk=" class="d-block w-100" alt="Carpet Cleaning">
          </div>
          <div class="col-md-6">
            <div class="p-4">
              <h2>Deep Carpet Cleaning</h2>
              <p>Enjoy a cleaner, healthier home with our deep-cleaning carpet services.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Controls (optional) -->
    <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  



{% endblock %}