{% extends 'base.html' %}
{% block title %}  Modern Carpets  {% endblock %}
{% block content %}    

    <h1 class="text-center text-primary">Modern Carpets</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card" style="width: 18rem;">
                <img src="https://media.istockphoto.com/id/178387606/photo/rug.jpg?s=612x612&w=0&k=20&c=9MEe8r8Lxsuc9Tm07ppsETZuUKS2rejmJcDO6p3mAyI=">
                <div class="card-body">
                <h5 class="card-title">Classic Standard wall to wall carpet</h5> <h5 class="ms-lg-4 text-success"><span class="text-dark">Ksh</span>3000</h5>
                <p class="card-text"> an extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain. </p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            </div>



            <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="https://media.istockphoto.com/id/177243247/photo/close-up-of-a-woman-hand-weaving-a-colorful-rug.jpg?s=612x612&w=0&k=20&c=8ts7zTFOEbYZoFviwz-Tq1cxri58tTMi9RY96eHS6xI=">
                <div class="card-body">
                <h5 class="card-title">Classic Standard wall to wall carpet</h5> <h5 class="ms-lg-4 text-success"><span class="text-dark">Ksh</span>3000</h5>
                <p class="card-text"> an extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain. </p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card" style="width: 18rem;">
                <img src="https://media.istockphoto.com/id/157190797/photo/woman-is-weaving-traditional-turkish-carpet-in-her-house.jpg?s=612x612&w=0&k=20&c=UqXynK9bYT9g1pX9Q4gJGG4zIFx6MkQXMk8CP8JrypQ=">
                <div class="card-body">
                <h5 class="card-title" >Classic Standard wall to wall carpet</h5> <h5 class="ms-lg-4 text-success"><span class="text-dark">Ksh</span>3000</h5>
                <p class="card-text"> an extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain. </p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            </div>
            <div class="col-sm-6">  
            <div class="card" style="width: 18rem;">
                <img src="https://media.istockphoto.com/id/496232398/photo/two-cheerful-women-buying-carpets.jpg?s=612x612&w=0&k=20&c=Bjd9pVy0houuzHsMNTpwdfei0P6tcDVBkO_Guzg5nf4=">
                <div class="card-body">
                <h5 class="card-title">Classic Standard wall to wall carpet</h5> <h5 class="ms-lg-4 text-success"><span class="text-dark">Ksh</span>3000</h5>
                <p class="card-text"> an extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain. </p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            </div>
        </div>
   

        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card" style="width: 18rem;">
                <img src="https://media.istockphoto.com/id/1257626951/photo/young-tourists-enjoying-at-traditional-carpet-shop-in-cappadocia-turkey.jpg?s=612x612&w=0&k=20&c=53O-An7u7HvpBWzyJsV32gfPAubtb-oBRReLgt2d8WU=">       
                <div class="card-body">
                <h5 class="card-title" >Classic Standard wall to wall carpet</h5> <h5 class="ms-lg-4 text-success"><span class="text-dark">Ksh</span>3000</h5>
                <p class="card-text"> an extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain. </p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            </div>
            <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="https://media.istockphoto.com/id/528414906/photo/carpets-in-istanbul.jpg?s=612x612&w=0&k=20&c=uHIh-2t-9h-A6MuvgSheRaFDlqicPogvyak1KbDrj8s=">
                <div class="card-body">
                <h5 class="card-title">Classic Standard wall to wall carpet</h5> <h5 class="ms-lg-4 text-success"><span class="text-dark">Ksh</span>3000</h5>
                <p class="card-text"> an extremely durable fiber, making it an excellent choice for heavy-traffic areas as well as easy to clean and maintain. </p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            </div>
        </div>
            {% endblock %}